@charset "UTF-8";
*{margin: 0px; padding: 0px; box-sizing: border-box;}
.article_page{
	width: 100%;
}

.product-list{
	display: flex;
	width: 100%;
}

.product_main{
	width: 100%;
	
}
.box{
	display: flex;
	width:100%;
	
}
.box_2{
	display:flex;
	width: 25%;
	border: 1px solid gray;
	border-collapse: collapse; 
}





@media screen and (max-width: 768px) {
    .box_2 {
        width: 33%; /* 화면이 768px 이하로 줄어들면 이미지를 2개로 배열 */
    }
}

@media screen and (max-width: 480px) {
    .box_2 {
        width: 100%; /* 화면이 480px 이하로 줄어들면 이미지를 한 줄에 하나씩 배열 */
    }
}

.area{
	padding: 10px;
	margin: 10px;
}
#text_list{
	display: flex;
/* 	padding: 20px; */
	text-align: left;
	justify-content: space-around;
	width: 100%;
	padding: 1rem;
}



.text_box li{
	list-style-type: none;
	padding: 0 auto; 
	margin: 20px;
	width: 100%;
}
.a_qa{
	text-decoration: none;
}
.btn_images {
	list-style-type: none;
	margin-top: 1rem;
	margin-left: 0.5rem;
}
.btn_images a {
       margin-right: 10px; 
}

.btn_1{
	width: 30%;
	
}

.area{
	margin: 1rem;
}
#text_list{
	display: flex;
/* 	padding: 20px; */
	text-align: left;
	justify-content: space-around;
	width: 100%;
	padding: 1rem;
	margin-top: 1rem;
}



.text_box li{
	list-style-type: none;
	padding: 0 auto; 
	margin: 20px;
	width: 100%;
}
.a_qa{
	text-decoration: none;
}
.btn_images {
	list-style-type: none;
	margin-top: 1rem;
	margin-left: 0.5rem;
}
.btn_images a {
    margin-right: 10px; 
}

.btn_1{
	width: 30%;
	
}