@charset "UTF-8";
*{margin: 0px; padding: 0px; box-sizing: border-box;}
.article_page{
	width: 100%;
}

.product-list{
	display: flex;
	width: 100%;
}

.product_main{
	width: 100%;
	
}
.box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width:100%;
	height: auto;
	min-height: 100%;
	padding-bottom: 250px;
	
}
.box_2{
	display:flex;
	width: 25%;
	border: 1px solid gray;
	border-collapse: collapse; 
	
	
}












